.ui-collapsible-content ui-body-inherit {
	background-color:#D4AC05;
	padding-top:0px;
}
.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
	margin-bottom:10px;
	border-radius:4px;
}
.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
	margin-top:-11px;
	margin-bottom:10px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
}
.category-heading {
	color:#FFF;
	margin:0px;
	text-transform:uppercase;
	font-weight:bold;
	text-shadow:none;
	letter-spacing:1px;
	font-size:17px;
}
.first-child-home-div {
	padding:18px;
	padding-top:2px;
	background-color:#ffbe1a;
	text-align:center;
	border-bottom:2px solid #000;
	box-shadow:inset 0 -5px 10px rgba(0,0,0,.4);
}
#header {
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 5px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 5px 10px 0px rgba(0, 0, 0, 0.5);
	border-bottom:2px solid #000;
}
.ui-title {
	color:#FFF;
	text-shadow:none;
	font-weight:bold;
}
.ui-input-search input {
	font-family:"Lucida Console", Monaco, monospace;
	font-size:10px;
}
.second-child-home-div {
	padding:18px;
	padding-top:20px;
	background-color:#00b5d9;
	text-align:center
}
.ui-icon-arrow-down {
	background-image: url("img/app-icon-email.png");
}
.ui-controlgroup, fieldset.ui-controlgroup {
	height:5vh;
}
.ui-controlgroup-controls a.ui-shadow:not(:focus), .ui-controlgroup-controls button.ui-shadow:not(:focus), .ui-controlgroup-controls div.ui-shadow:not(.ui-focus) {
	width:70px;
	height:20px;
	margin:0px 5px 5px 5px;
	padding-bottom:0px;
	border-radius:5px;
	font-size:9px;
}
